[package]
name = "pysplashsurf"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pyo3 = {version = "0.25.0", features = ["anyhow"]}
numpy = "0.25.0"
ndarray = "0.16.1"
splashsurf = { path = "../splashsurf" }
splashsurf_lib = { path = "../splashsurf_lib" }
fxhash = "0.2.1"
bytemuck = { version = "1.23.0", features = ["extern_crate_alloc"] }
anyhow = "1.0.98"
rayon = "1.10.0"
log = "0.4.27"
pyo3-stub-gen = "0.9.0"

[features]
extension-module = ["pyo3/extension-module", "pyo3/abi3-py37"]
default = ["extension-module"]

[lib]
name = "pysplashsurf"
crate-type = ["cdylib", "rlib"]

[workspace]
