<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
<meta property="og:image:height" content="301">
<meta property="og:image:width" content="576">
<meta property="og:description" content="Surface reconstruction library and CLI for particle data from SPH simulations, written in Rust.">
<meta property="og:image" content="https://raw.githubusercontent.com/w1th0utnam3/splashsurf/gh-pages/logo.jpg">
<meta property="og:url" content="https://www.floeschner.de/splashsurf">
<meta property="og:title" content="splashsurf">
